/* components/Header.module.css */

.header {
  position: fixed; /* Fixes the header to the top */
  top: 0; /* Aligns the header to the top */
  left: 0; /* Aligns the header to the left */
  width: 100%; /* Ensures the header spans the full width */
  background-color: #141210;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-end; /* Aligns the items to the end (right) */
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
}

.header button {
  margin: 0 10px; /* Adds horizontal margin to space out buttons */
  padding: 10px 20px;
  border: none; /* Removes border */
  outline: none; /* Removes focus outline */
  border-radius: 30px; /* Adjusted for more rounded corners */
  background-color: #1a1a1a; /* Darker background color for buttons */
  color: #ffffff;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s, transform 0.3s; /* Adds transition for background, color, and transform */
  cursor: pointer; /* Changes cursor to pointer on hover */
}

.header button:hover {
  background-color: #292929; /* Lighter background on hover */
  transform: translateY(-2px); /* Slightly lifts the button on hover */
}

.nav {
  display: flex;
  gap: 10px; /* Adds spacing between buttons */
}

.navLink {
  margin: 0 10px; /* Adds horizontal margin to space out buttons */
  padding: 10px 20px;
  border: none; /* Removes border */
  outline: none; /* Removes focus outline */
  border-radius: 30px; /* Adjusted for more rounded corners */
  color: #ffffff;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s, transform 0.3s; /* Adds transition for background, color, and transform */
  cursor: pointer; /* Changes cursor to pointer on hover */
}

.navLink:hover {
  transform: translateY(-2px); /* Slightly lifts the button on hover */
}

.active {
  background-color: #c06014;
  color: #ff7e34; /* Active text color */
  transform: translateY(-2px); /* Lifts the button to indicate it's active */
}